/* Flex container for main layout */
@font-face {
    font-family: 'Splatoon2Font';
    src: url(fonts/Splatoon2Font.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*768px*/
/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack columns vertically */
        height: 100vh; /* Allow content to dictate height */
    }
}

h1 {
    font-family: 'Splatoon2Font', sans-serif;
    font-size: 16px;
}

h2 {
    font-family: 'Splatoon2Font', sans-serif;
    font-size: 16px;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

a:link {
    color: #ffffff
}
a:visited {
    color: #ffffff;
}

svg {
    position: absolute;
    top: -85%;
    left: -100%;
    width: 250%;
    height: 250%;
    z-index: 2;
    overflow: hidden;
}

.dynamic-fill {
    fill: #1e90ff;
    stroke: #1e90ff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: black;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-family: 'Splatoon2Font', sans-serif;
    font-size: 14px;
    z-index: 3;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: default;
}

.nav-list, .right-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li, .right-nav li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.right-nav {
    margin-left: auto;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%; /* Position the dropdown below the "Links" */
    left: 0;
    background-color: rgba(0, 0, 0, 0.85); /* Dark background */
    padding: 10px;
    list-style: none;
    margin: 0;
    z-index: 4;
    width: min(85px);
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}

/* Show dropdown menu on hover */
.dropdown:hover .info-content,
.dropdown:hover .dropdown-menu {
    display: block;
}

.info-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px;
    z-index: 4;
    width: 300px;
    font-family: Montserrat, sans-serif;
}

/* Left side for images and weapon name */
.left-side {
    flex: 1; /* Takes up equal space as right-side */
    display: flex; /* Use flex to center content */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    color: white;
    font-family: 'Splatoon2Font', sans-serif;
    font-size: 24px;
    position: relative;
    z-index: 3;
}

.right-side {
    flex: 1; /* Takes up equal space as left-side */
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    font-family: sans-serif;
    overflow-y: auto; /* Make the right-side content scrollable */
    max-height: 90vh; /* Lock the maximum height to the viewport height */
    position: relative;
    z-index: 3;
}

.tab {
    display: flex;
    justify-content: flex-start; /* Align tabs to the left */
}

.tab button {
    background-color: gray;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 12px;
    transition: 0.3s;
    margin-right: 5px;
    font-family: 'Splatoon2Font', sans-serif;
    font-size: 16px;
}

.tab button:hover {
    background-color: #ccc;
}

.tab button.active {
    background-color: white;
}

/* Tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: 'Montserrat', serif;
    background-color: rgba(255, 255, 255, 0.2);
}
.tabcontent .grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 5px; /* Space between grid items */
    align-items: center; /* Align content to the center of each grid cell */
}

.header-inline {
    display: flex;
    justify-content: space-between; /* Push h1 left and checkbox right */
    align-items: center; /* Vertically center the checkbox with h1 */
    width: 100%; /* Make the container full width */
}

.header-inline h1 {
    margin: 0; /* Optional: Remove extra margin from h1 */
}

.collapsible {
    background-color: #ccc;
    color: black;
    cursor: pointer;
    padding: 3px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: background-color 0.2s ease;
    font-family: 'Splatoon2Font', sans-serif;
}


.collapsible:hover {
    background-color: #ddd;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    padding: 0 15px;
}

.collapsible-content.show {
    max-height: 500px;
    padding: 10px 15px;
    overflow-y: auto; /* Enable scrolling within collapsible sections if needed */
}

.collapsible-content .grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 5px; /* Space between grid items */
    align-items: center; /* Align content to the center of each grid cell */
}

.collapsible-content label {
    display: flex; /* Use flexbox for label and checkbox */
    align-items: center; /* Ensure checkbox and text are aligned */
    gap: 5px; /* Space between checkbox and label text */
}

.weapon-checkbox {}

.splat-button {
    height: 15vh;
    border: none;
    background-image: url('../miscImages/paint-splatter.svg');
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    color: white;
    font-family: 'Splatoon2Font', sans-serif;
}

.splat-button:active {
    transform: scale(0.95); /* Slightly shrink the button when clicked */
}

.text-content {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    position: relative;
    z-index: 3;
    overflow-y: auto;
    max-height: 80vh;
}
