<!--tab scripts come from https://www.w3schools.com/howto/howto_js_tabs.asp-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Splatoon 3 Weapon Randomizer</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

<div class="main-container">
    <!-- Left Side: Images and Weapon Name -->
    <div class="left-side">
        <p>
            <img id="weaponImage" th:src="@{'/weaponImages/Spl3_Weapon_' + ${randomWeapon.id} + '.png'}"
                 th:alt="${randomWeapon.weaponName}"
                 width="256" height="256"/>
        </p>
        <p>
            <img id="subweaponImage" th:src="@{'/subweaponImages/Spl3_sub_' + ${randomWeapon.subweapon.id} + '_b.png'}"
                 th:alt="${randomWeapon.subweapon.subweaponName}" width="64" height="64"/>
            <img id="specialWeaponImage"
                 th:src="@{'/specialWeaponImages/Spl3_spec_' + ${randomWeapon.specialWeapon.id} + '_b.png'}"
                 th:alt="${randomWeapon.specialWeapon.specialWeaponName}" width="64" height="64"/>
        </p>
        <p>
            <span id="randomWeapon" th:text="${randomWeapon.weaponName}"></span>
        </p>
    </div>

    <!-- Right Side: Tabs and Content -->
    <div class="right-side">
        <!-- Tab Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openSearch(event, 'blacklistTab')" id="defaultOpen">Blacklist</button>
            <button class="tablinks" onclick="openSearch(event, 'whitelistTab')">Whitelist</button>
            <button class="tablinks" onclick="openSearch(event, 'singleWeaponSearchTab')">Single Weapon Selection
            </button>
        </div>

        <!-- Tab Content -->
        <div id="blacklistTab" class="tabcontent">
            <h1>Blacklist (exclude all checked items)</h1>
            <div th:replace="~{fragments/formfragments :: #categorySearches(isInclusionSearch='false')}"></div>
        </div>

        <div id="whitelistTab" class="tabcontent">
            <h1>Whitelist (include only the checked items)</h1>
            <div th:replace="~{fragments/formfragments :: #categorySearches(isInclusionSearch='true')}"></div>
        </div>

        <div id="singleWeaponSearchTab" class="tabcontent">
            <h1>Need more control? Select only the weapons you want:</h1>
            <form id="singleWeaponSearch" onsubmit="submissionHandler(event);">
                <div>
                    <!-- Collapsible sections for each weapon type -->
                    <div th:each="weaponClass : ${weaponTypeList}">
                        <button type="button" class="collapsible" th:text="${weaponClass.weaponTypeName}"></button>
                        <div class="collapsible-content">
                            <div class="grid-layout">
                                <div th:each="weapon : ${weaponList}"
                                     th:if="${weapon.weaponType.id} == ${weaponClass.id}">
                                    <label>
                                        <input type="checkbox" th:value="${weapon.id}" th:name="selectedWeapons"/>
                                        <span th:text="${weapon.weaponName}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="isInclusionSearch" value=true>
                <input type="submit" value="Gimme a Different One">
            </form>
        </div>
    </div>
</div>

<script src="/javascript/randomizer.js"></script>
</body>
</html>
