<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to Use</title>
</head>
<body>
<div id="info-content" class="info-content">
    <p>
        Choose from whitelist search, blacklist search, or single weapon selection.
    </p>
    <p>
        Whitelist will return only the weapons that fit all the criteria - for instance, selecting "Shooters" and
        "Splat Bomb" will return only the shooters that have splat bombs as their subweapon.
    </p>
    <p>
        Blacklist removes the selected categories from the search list. This stacks, too - if you remove all weapon
        classes except Splatanas and Stringers, and also remove middleweight weapons, you'll only see lightweight
        Splatanas and Stringers.
    </p>
    <p>
        "Exclude Duplicates" removes all of the "Replica"-type weapons from the results.
    </p>
    <p>
        Single Weapon Selection picks a random weapon from your selections. If you want to add a lot of weapons, click
        "Select All" to select all the boxes, then unselect the ones you don't want!
    </p>
    <p>
        If there are no weapons that fit your selections, the picker will return a random weapon from the entire lineup.
    </p>
</div>
</body>
</html>