<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<nav id="navbar" class="navbar">
    <ul class="nav-list">
        <li><a href="./randomizer">Splatoon 3 Weapon Randomizer</a></li>
        <li class="dropdown">How to use
            <div th:replace="~{fragments/howtouse}"></div>
        </li>
        <li class="dropdown">Squid News
            <ul class="dropdown-menu">
                <li>Coming Soon!</li>
            </ul>
        </li>
        <li class="dropdown">Resources
            <ul class="dropdown-menu">
                <li><a href="https://squidboards.com/" target="_blank">Squidboards</a></li>
                <li><a href="https://splatoonwiki.org/wiki/Main_Page">Inkipedia</a></li>
                <li><a href="https://sendou.ink/" target="_blank">sendou.ink</a></li>
                <li><a href="https://stat.ink/" target="_blank">stat.ink</a></li>
            </ul>
        </li>
    </ul>
    <ul class="right-nav">
        <li>Version 0.9</li>
        <li class="dropdown">About
            <ul class="dropdown-menu">
                <li><a href="devnotes">Dev Notes</a></li>
                <li><a href="https://github.com/mmorgan304/SplatoonWeapons" target="_blank">github</a></li>
                <li><a href="admin/home">Log in</a></li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>